<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML, CSS">
  <link rel="stylesheet" href="/style/style.css">
  <link rel="stylesheet" href="/style/style_slike.css">
  <title>Weather Data</title> 
</head>
<body>
  <header>
    <h1>Weather Data Collection</h1>
  </header>

  <nav aria-labelledby="navigacija" class="menu-container">
    <div class="menu-button">Menu</div>
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/pages/graph.html">Graph</a></li>
      <li><a href="/slike">Gallery</a></li>
    </ul>
    <h1 id="weather-h1">Weather data</h1>
  </nav>

  <section class="galerija"> 
    <% images.forEach((image, index) => { %>
      <figure class="galerija_slika">
        <a href="javascript:void(0);" onclick="openLightbox(<%= index %>)">
          <img src="<%= image.url %>" alt="Slika <%= index + 1 %>" loading="lazy">
        </a>
        <figcaption>Slika <%= index + 1 %></figcaption>
      </figure>
    <% }) %>
  </section>

  <!-- Lightbox Modal -->
  <div id="lightbox" class="lightbox-overlay">
    <span class="close-btn" onclick="closeLightbox()">&times;</span>
    <img id="lightbox-img" src="" alt="Lightbox Image">
  </div>

  <script>
    // Convert the images array to a JavaScript object using JSON.stringify() and inject it into the script
    const images = <%- JSON.stringify(images) %>;
  
    // Open the lightbox with the selected image
    function openLightbox(index) {
    const images = <%- JSON.stringify(images) %>; // Get the images array
    const lightboxImg = document.getElementById("lightbox-img");
    lightboxImg.src = images[index].url;
    document.getElementById("lightbox").style.display = "block";
}

function closeLightbox() {
    document.getElementById("lightbox").style.display = "none";
}

// Close lightbox if the background is clicked
document.getElementById('lightbox').addEventListener('click', function(e) {
    if (e.target === this) {
        closeLightbox();
    }
});
  </script>
  

</body>
</html>
